__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
*config.json
model_dir/
ds_config*
hchinese_llama_tokenizer/
llama_tokenizer/
.vscode/
test*.ipynb
eval_loss_pj_chinese_llama-hf_13b.sh
README_in.md

